<?xml version="1.0"?>
<!--
/**
 * * @copyright Copyright (c) 2017-2021 Magenuts IT Solutions Pvt Ltd. All rights reserved.
 
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magenuts\Portfolio\Model\Portfolio">
        <arguments>
            <argument name="resource" xsi:type="object">Magenuts\Portfolio\Model\ResourceModel\Portfolio</argument>
        </arguments>
    </type>
</config>
