<?xml version="1.0"?>
<!--
/**
 * Copyright © 2019 Magenuts Pvt Ltd. All rights reserved.
 
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Magenuts_Portfolio" setup_version="0.1.0" active="true"/>
</config>
